# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

#ignore thumbnails created by windows
Thumbs.db

#ignore DS_Store created by Mac
.DS_Store

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# WebStorm files
.idea
